on early-init
    insmod /vendor/lib/modules/focaltech_0flash_mmi.ko

on fs

    # debug boot process
    rm /cache/boot_lc_full.txt
    rm /cache/boot_lc_crash.txt
    rm /cache/boot_lc_kernel.txt
    start boot_lc
    start boot_lc_kernel
    start boot_lc_crash

on init
    mount none /dev/null /vendor/overlay/TelephonyResCommonQcom.apk bind
    mount none /dev/null /vendor/overlay/TelephonyResMotCommon.apk bind
    mount none /dev/null /vendor/overlay/framework-res__auto_generated_rro_vendor.apk bind
    setprop ro.carrier ${ro.boot.carrier}
    setprop ro.vendor.carrier ${ro.boot.carrier}

on boot
    # FPC home button permissions
    chown system system /sys/homebutton/enable
    chown system system /sys/homebutton/enable_off
    chown system system /sys/homebutton/haptic
    chown system system /sys/homebutton/haptic_off
    chown system system /sys/homebutton/proximity_check_off
    chown system system /sys/homebutton/key
    chown system system /sys/homebutton/key_hold
    chown system system /sys/homebutton/key_dbltap
    chown system system /sys/homebutton/key_left
    chown system system /sys/homebutton/key_right
    chown system system /sys/homebutton/key_screenoff
    chown system system /sys/homebutton/key_screenoff_hold
    chown system system /sys/homebutton/key_screenoff_dbltap
    chown system system /sys/homebutton/key_screenoff_left
    chown system system /sys/homebutton/key_screenoff_right

service vendor.mot.light-hal-1-0 /system/bin/true
    disabled

service vendor.mbm_spy /system/bin/true
    disabled
    oneshot
    override

service vendor.ss_ramdump /system/bin/true
    disabled
    oneshot
    override

service vendor.mot.popup-hal-1-0 /system/bin/true
    disabled
    oneshot
    override

on post-fs-data

    # Clear existing log and start the service
    rm /cache/boot_log.txt
    start logger

on property:sys.boot_completed=1

   # Stop the logger service
    stop logger
    stop boot_lc
    stop boot_lc_crash
    stop boot_lc_kernel

on property:dev.bootcomplete=1
    stop boot_lc
    stop boot_lc_crash
    stop boot_lc_kernel

service logger /system/bin/logcat -b all -D -f /cache/boot_log.txt
    class main
    user root
    group root system
    disabled
    oneshot

service boot_lc /system/bin/logcat -b all -D -f /cache/boot_lc_full.txt
    class main
    user root
    group root system
    disabled
    oneshot

service boot_lc_crash /system/bin/logcat -b crash -D -f /cache/boot_lc_crash.txt
    class main
    user root
    group root system
    disabled
    oneshot

service boot_lc_kernel /system/bin/logcat -b kernel -D -f /cache/boot_lc_kernel.txt
    class main
    user root
    group root system
    disabled
    oneshot
